  <div id="chooseAgent">
<div class="row"><h4>Step 1: Choose a user-agent</h4></div>
<div class="row">
<div class="large-2 med-2 small-2 columns">
<span>User Agent:</span>
</div>
<div class="large-4 med-4 small-4 columns">
    <label for="customAgentField"></label><input type="text" name="customAgentField" id="customAgentField">
  </div>
<div class="large-6 med-6 small-6 columns">

    <a href="" id="saveCustomAgent" class="button tiny">Continue</a>
    </div>
  </div>
</div>
