<div id="resultsArea" style="display:none">
<div class="row">
<div class="spinner" style="display:none">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
<h4>Results</h4>
  <div class="large-12 small-12 medium-12 columns">
    <div class="row">
    <div id="allowed" style="display:none;max-width:800px;word-wrap:break-word">
    <div class="panel">
      <h4>Allowed Sites</h4>
      <div id="allowedSites">
      <p></p>
      </div>

    </div>
    </div>
    </div>
    <div class="row">
    <div id="disallowed" style="display:none;max-width:800px;overflow:scroll">
    <div class="panel">
      <h4>Disallowed Sites</h4>
      <div id="disallowedSites"><p></p></div>
    </div>
    </div>
  </div>
</div>
</div>
</div>
