<div class="row">
  <br>
  <div id="uploadArea" style="display:none">
    <div class="large-10 columns">
      <h4>Step 2: Paste a list of urls</h4>
      <p>One url per line</p>
      <textarea id="urllist" style="height:300px;width:500px"></textarea>
      <button id="processRobots">Go</button>
    </div>
  </div>
</div>
