<div style="background-color:grey">
<div class="row">
<div class="large-2 columns"><span class="mega-octicon octicon-hubot"></span></div>
<div class="large-10 columns">
  <h1> CanICrawl.it?</h1>
  </div>
  </div>
  <div class="row">
  <div class="large-12 large-offset-2 columns">
  <em>Check the robots rules for a large list of URLs</em><br><br>
  </div>
  </div>
  </div>

</div>
</div>

<br><br>
<%= render 'choose_agent' %>

<%= render 'upload_area' %>

<%= render 'results_area' %>
<div class="row">
  <div class="columns large-2 small-2 medium-2">
    <div id="startOver" style="display:none">
      <a href='/' class="button tiny">Start over</a>
    </div>
  </div>
</div>

